{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}Flow{% endblock %}

{% block page_title %}Mezzo{% endblock %}
{% block page_subtitle %}Control panel{% endblock %}

{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; {{ "now"|date('Y') }}.</strong> All rights reserved.
    </footer>
{% endblock %}
