{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">AUTHENTICATION</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">BAM</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">BAM</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">CONSUMER</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">CONTENT</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">CONVERSION</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">DISPATCHER</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">PRODUCT</h3>
                </div>

                <div class="box-body">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-arrow-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">PHPUNIT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-arrow-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">BEHAT</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                            70% Increase in 30 Days
                        </span>
                        </div>
                    </div>

                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-arrow-left"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-arrow-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Comments</span>
                            <span class="info-box-number">41,410</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

